* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vh;
}

.bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

.time {
  font-family: "Source Code Pro", monospace;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time .time-digits {
  font-size: 10rem;
}
.time .time-separator {
  font-size: 8rem;
}
